*{
    margin: 0;
    padding: 10;

}


body{
    background-color: #EBE5E5;
    margin: 0px 1.2rem;
}

.avisClients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
}


.commentaires{
    border: 1px solid red;
}

.copyright{
    font-size: 1.2rem;
    font-weight: bold;
    color: #D92332;
}

.parrot-color{
    color: #D36F6F;
}

.parrotbtn{
    background-color: #533E3E;
    border-radius: 5px;
    color: #FFFFFF;
}

.parrotbtn:hover{
    background-color: #262526;
    border-radius: 5px;
    color: #D36F6F;
}


