*{
    margin: 0;
    padding: 10;

}


body{
    background-color: #EBE5E5;
    margin: 0px 1.2rem;
}

header, footer{
    background-color:#c0b4b4;
    border-radius: 5px;
    margin-bottom: 3px;
}

.slogan{
    color: #D92332;
    position: absolute;
    left: 10rem;
    top: 1.5rem;
    font-weight: bold;
}

.avisClients{
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

.commentaires{
    border: 1px solid black;
    background-color: #c0b4b4;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
}
.copyright{
    font-size: 1.2rem;
    font-weight: bold;
    color: #D92332;
}

.parrot-color{
    color: #D36F6F;
}

.parrotbtn{
    background-color: #533E3E;
    border-radius: 5px;
    color: #FFFFFF;
}

.parrotbtn:hover{
    background-color: #262526;
    border-radius: 5px;
    color: #D36F6F;
}
