*{
    margin: 0;
    padding: 10;
}

body{
    background-color: #EBE5E5;
    margin: 0px 1.2rem;
}

.header_footer{
    background-color:#c0b4b4;
    border-radius: 5px;
}

.slogan{
    color: #D92332;   
    font-weight: bold;
}

.commentaires{
    border: 1px solid #533E3E;
    background-color: #EBE5E5;
    margin: 5px;
    padding: 5px;
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #D36F6F;
}

.avisClients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.nomCommentaire{
    font-size: 1.5rem;
    color: #533E3E;
    font-weight: bold;
}

.copyright{
    font-size: 1.2rem;
    font-weight: bold;
}

.parrot-color{
    color: #D36F6F;
}

.parrotbtn{
    background-color: #533E3E;
    border-radius: 5px;
    color: #FFFFFF;
}

.parrotbtn:hover{
    background-color: #262526;
    border-radius: 5px;
    color: #D36F6F;
}

.commentForm, .hideComment, .hideForm, .avisClients{
    visibility: hidden;
    height: 0px;
}


.imgRotate {
    transform: rotate(180deg);
}

.stars{
    color: #FFD700;
    font-size: 3rem;
}